div, span, i
  font-size 14px
.container{
  c(#666)
  min-height 600px
}

.page-title{
  margin 24px 0;
}


@media (min-width: 992px){
.activity-info-pic{
  min-width 400px
  min-height 200px
}
}
.activity-info{
  flex()
  border 1px solid #EDEDED;
  .activity-info-pic{
    min-width 500px
    min-height 260px
    max-height 280px
    bg(#fff)
    overflow hidden
    max-width 60%
    img{
      width 100%
    }
  }
  .activity-info-content{
    padding 24px;
    flex-1()
    flex-direction column;
    h4{
      c(#333)
      font-size 20px;
      fb()
      mb(16)
    }
    .diamond-exclusive{
    
      font-size 16px;
      c(#E53935)
    }
    .activity-count-down{
      mt(60)
      text-align center;
      .title{
        font-size 20px;
        c(#E53935)
      }
      .time{
        mt(16)
        c(#5B1D0E)
        ft(24)
        inline()
      }
    }
  }
}
.product-wrap-box{
  margin 40px 0 20px
}