
.w, .container{
    width: 990px;
    margin: 0 auto
}
@media screen and (min-width: 1230px){
   .w, .container{
        width: 1210px;
    } 
}

img,.img-adapt{
  display block
  width auto
  height auto
  max-width 100%
  max-height 100%
  margin 0 auto
}
i{
  font-style normal;
}
.el-loading-mask{
  z-index -1 !important
}
.loading-list{
  width 100%
  h(50)
  lh(50)
  mt(12)
  bg(#fffdee)
  b1(#dfd4be)
  text-c()
  c(#666)
  i{
    inline()
    w(43)
    h(30)
    mr(5)
    vertical-align: middle;
    background url('../images/loading-list.gif') no-repeat 
    background-size cover
  }
}